.rectangle
{
    height: 300px;
    width:400px;
    background-color: royalblue;
    border-radius: 1rem;
    transition: background-color 0.6s;
}


.rectangle.important.good
{
    background-color: limegreen;
   
}


.rectangle.important
{
    background-color: firebrick;
}
.hide{
    display: none;
}