.rectangle
{
    height: 300px;
    width:400px;
    background-color: royalblue;
    border-radius: 1rem;
    transition: background-color 0.6s;
}


.rectangle.important.good
{
    background-color: limegreen;
   
}


.rectangle.important
{
    background-color: firebrick;
}
.hide{
    display: none;
}
imemmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
<<<<<<< HEAD
zieddddddddddddddddddddddddddddddddddddddddddddd
=======
oussema
sarrrrrrrrrrrrrrrrrrrrrrrrrrrra
saddem
>>>>>>> d2633f5e8eb04614720b59e52e6d2cc49c42cf65
